* {
  margin:0;
  padding:0;
}

@font-face {
    font-family: "Badaboom BB";
    src: url("../fonts/BADABB__.TTF") format("opentype");
}

body {
  font-family: "Badaboom BB";
}

nav {
  width: 100%;
  color: #E8AB15;
  overflow: hidden;
  position: fixed;
  text-align: center;
}

.header-logo {
  background-image: url(../img/basic.png);
  background-size: cover;
  border-radius: 90px;
  font-size: 40px;
  float:left;
  margin: 30px 30px;
  border: 1px solid #B91C22;
  margin-left: 30px;
  background-color: #000;
}

.img {
  width: 5%;
  height: 5%;
  text-align: center;
}

nav ul {
  margin-right: 40px;
}

nav li {
  margin-top: 30px;
  margin-right: 10px;
  float: right;
  list-style-type: none;
  border-radius: 90px;
  border: 1px solid #B91C22;
  background-color: #000;
}

nav a {
  font-size: 40px;
  margin: auto;
  padding: 15px 15px;
  text-decoration: none;
  color: #B91C22;
  display: block;
  transition: 1s;
}

nav a:hover {
  border-radius: 90px;
  background: #B91C22;
  color: #000000;
}

.top {
  background-image: url(../img/earth.jpg);
  text-align: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}


.AmI {
  color:#FFF;
  background-image: url(../img/hud.jpg);
  background-position: center;
  text-align: center;
  background-size: cover;
  width: 100%;
  height: 150vh;
}

.AmI p {
  padding-top: 7%;
  text-align: center;
  font-size: 50px;
  margin-bottom: 40%;
  text-shadow: 2px 2px 1px #26d0c9, -2px 2px 1px #26d0c9, 2px -2px 1px #26d0c9, -2px -2px 1px #26d0c9;
}

.AmI li {
  padding: 1% 3%;
  margin: 1% 0;
  position: relative;
  width: 10%;
  height: 7%;
  left: 10%;
  right: auto;
  text-align: center;
  font-size: 300%;
  background-color: #26d0c9;
  list-style-type: none;
}

.bright {
  color: #00FFFF;
}

.back {
  background-color: #00FFFF;
}

.big {
  font-size: 30px;
}

.Web {
  background-image: url(../img/web.png);
  background-position: center;
  text-align: center;
  background-size: cover;
  width: 100%;
  height: 150vh;
}

.Web p {
  padding-top: 7%;
  text-align: center;
  font-size: 50px;
  text-shadow: 2px 2px 1px #B91C22, -2px 2px 1px #B91C22, 2px -2px 1px #B91C22, -2px -2px 1px #B91C22;
}

.Web li:hover{
  background-color:
  text-shadow: 2px 2px 1px #B91C22, -2px 2px 1px #B91C22, 2px -2px 1px #B91C22, -2px -2px 1px #B91C22;
}

.Web a{
  text-decoration: none;
  text-align: center;
  padding: 30% 0;
  color: #000;
  font-size: 50px;
  text-shadow: 2px 2px 1px #B91C22, -2px 2px 1px #B91C22, 2px -2px 1px #B91C22, -2px -2px 1px #B91C22;
}

.Web li {
  margin: 5% 6.393%;
  padding: 5% 0;
  width: 20%;
  height: 0%;
  list-style-type: none;
  background-color: #FFF;
  text-align: center;
  border-radius: 90px;
  border-color: #000;
  float: left;
  border: 2px solid #000;
}

.Web li:hover{
  border-radius: 90px;
  background: #B91C22;
  color: #000;
  opacity: 0.5;
}

.Youtube {
  background-image: url(../img/youtube.jpg);
  background-size: cover;
  width: 100%;
}

.Blog {
 background-image: url(../img/basic.png);
 background-size: cover;
 width: 100%;
}

.Media {
  background-image: url(../img/media.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  text-align: center;
}

.Media2 {
  background-image: url(../img/media2.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  text-align: center;
}

.Hitchhike {
  background-image: url(../img/hitchhike.jpg);
    background-position: center;
  background-size: cover;
  width: 100%;
}

.Contact {
  background-image: url(../img/contact.png);
  background-position: center;
  text-align: center;
  background-size: cover;
  height: 50vh;
  padding-top: 7%;
}

.Contact p{
  text-align: center;
  font-size: 50px;
  text-shadow: 2px 2px 1px #26d0c9, -2px 2px 1px #26d0c9, 2px -2px 1px #26d0c9, -2px -2px 1px #26d0c9;
}

.right {
  margin-right: 25%;
  margin-left: 9%;
}

.left {
  margin-left: 25%;
  margin-right: 9%;
}

.Contact li {
  text-align: center;
  list-style-type: none;
  float: left;
  width: 200px;
  height: 200px;
  color: #00FFFF;
  background-color: #000;
  border: 1px solid #26d0c9;
  font-size: 100px;
}

.Contact li:hover{
  background-color: #26d0c9;
}

.Contact i {
  padding: 25% 28%;
  color: #00FFFF;
}

.Contact i:hover{
  color: #000;
}

footer {
  letter-spacing: 3px;
  font-size: 1.5rem;
  text-align: center;
  line-height: 10px;
  color: #000;
  height: 10px;
}